<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Download File</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">CS310 Project</a>
      </div>
    </nav>
    <div class="container mt-5">
    <h2>Disparate Impact Removal Results</h2>
    <h4 class="mt-4">Original Dataset (First 5 Rows):</h4>
    <div>{{ original_head|safe }}</div>
    <h4 class="mt-4">Transformed Dataset (First 5 Rows):</h4>
    <div>{{ transformed_head|safe }}</div>
    </div>
    <script>
      // Automatically trigger the file download once the page is loaded
      window.onload = function () {
          window.location.href = '/download-file';
      };
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>

