<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Evaluation Results (Predictions)</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <nav class="navbar bg-dark border-bottom border-body" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">CS310 Project</a>
        </div>
    </nav>
    <div class="container mt-5">
        <h1>Evaluation Results (Predictions)</h1>
        {% for resultset in resultsets %}
        <div class="mb-4 border p-3 rounded">
            <h2>{{ resultset[0] }} - Prediction Analysis</h2>
            <div class="alert alert-light" role="alert">
              <div class="d-flex justify-content-start mt-2">
              <form action="{{ url_for('postprocessing') }}" method="POST" class="m-0">
                <input type="range" class="form-range" id="alphaRange" min="0" max="1" step="0.1">
                <input type="text" name="alphaValue" class="form-control mt-3" id="alphaValue" readonly>
                <input type="hidden" name="attribute" value="{{ resultset[0] }}">
                <input type="hidden" name="outcomeColumn" value="{{ outcome_column }}">
                <input type="hidden" name="predictionColumn" value="{{ prediction_column }}">
                <input type="hidden" name="positiveOutcome" value="{{ positive_outcome }}">
                <button type="submit" class="btn btn-primary me-2">Apply Post-Processing</button>
              </form>
              </div>
            </div>
            <ul class="nav nav-tabs" id="metricsTab{{ loop.index }}" role="tablist">
              <li class="nav-item" role="presentation">
                <button class="nav-link active" id="fpr-tab-{{ loop.index }}" data-bs-toggle="tab" data-bs-target="#fpr{{ loop.index }}" type="button" role="tab" aria-controls="fpr{{ loop.index }}" aria-selected="true">False Positive Rate</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="fnr-tab-{{ loop.index }}" data-bs-toggle="tab" data-bs-target="#fnr{{ loop.index }}" type="button" role="tab" aria-controls="fnr{{ loop.index }}" aria-selected="false">False Negative Rate</button>
              </li>
              <li class="nav-item" role="presentation">
                <button class="nav-link" id="pa-tab-{{ loop.index }}" data-bs-toggle="tab" data-bs-target="#pa{{ loop.index }}" type="button" role="tab" aria-controls="pa{{ loop.index }}" aria-selected="false">Prediction Accuracy</button>
              </li>
            </ul>

            <div class="tab-content mt-3" id="metricsTabContent{{ loop.index }}">
              <div class="tab-pane fade show active" id="fpr{{ loop.index }}" role="tabpanel" aria-labelledby="fpr-tab-{{ loop.index }}">
                <div class="alert alert-light" role="alert">
                    A difference of <strong>{{ (resultset[2] | max) - (resultset[2] | min) }}%</strong> was found across false positive rates. <strong>Equalised odds</strong> is said to be satisified when this is minimised across both FPRs and FNRs.
                </div>
                <canvas id="fprChart{{ loop.index }}" width="400" height="200"></canvas>
              </div>
              <div class="tab-pane fade" id="fnr{{ loop.index }}" role="tabpanel" aria-labelledby="fnr-tab-{{ loop.index }}">
                <div class="alert alert-light" role="alert">
                    A difference of <strong>{{ (resultset[3] | max) - (resultset[3] | min) }}%</strong> was found across false negative rates. <strong>Equalised odds</strong> is said to be satisified when this is minimised across both FNRs and FPRs.
                </div>                
                <canvas id="fnrChart{{ loop.index }}" width="400" height="200"></canvas>
              </div>
              <div class="tab-pane fade" id="pa{{ loop.index }}" role="tabpanel" aria-labelledby="pa-tab-{{ loop.index }}">
                <canvas id="paChart{{ loop.index }}" width="400" height="200"></canvas>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    <script>
      const slider = document.getElementById('alphaRange');
      const sliderValue = document.getElementById('alphaValue');
      sliderValue.value = slider.value;
      slider.addEventListener('input', () => {
          sliderValue.value = slider.value;
      });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
      document.addEventListener('DOMContentLoaded', function() {
        {% for resultset in resultsets %}
          const labels{{ loop.index }} = {{ resultset[1] | tojson }};
          const fprData{{ loop.index }} = {{ resultset[2] | tojson }};
          const fnrData{{ loop.index }} = {{ resultset[3] | tojson }};
          const paData{{ loop.index }} = {{ resultset[4] | tojson }};
          
          new Chart(document.getElementById('fprChart{{ loop.index }}').getContext('2d'), {
            type: 'bar',
            data: {
              labels: labels{{ loop.index }},
              datasets: [{
                label: 'False Positive Rate (%)',
                data: fprData{{ loop.index }},
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });

          new Chart(document.getElementById('fnrChart{{ loop.index }}').getContext('2d'), {
            type: 'bar',
            data: {
              labels: labels{{ loop.index }},
              datasets: [{
                label: 'False Negative Rate (%)',
                data: fnrData{{ loop.index }},
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });

          new Chart(document.getElementById('paChart{{ loop.index }}').getContext('2d'), {
            type: 'bar',
            data: {
              labels: labels{{ loop.index }},
              datasets: [{
                label: 'Prediction Accuracy (%)',
                data: paData{{ loop.index }},
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        {% endfor %}
      });
    </script>
  </body>
</html>